body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgba(var(--b6a,219,219,219),1);
}

.container-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-logo img {
    width: 30px;
    height: 24px;
    margin-right: 5px;
}

.container-logo span {
    margin-left: 5px;
    font-size: 25px;
    font-style: italic;
}

.container-logo .raya {
    width: 4px;
    height: 25px;
    border-left: 1px solid black;
}

.container-search input {
    padding: 5px;
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    box-sizing: border-box;
}

.ul-profile {
    display: flex;
}

.ul-profile li {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.ul-profile li img {
    width: 35px;
    height: 25px;
    border-radius: 50%;
}

.ul-profile li button {
    padding: 5px;
    background-color: #6e2368;
    color: white;
    border: none;
}

.container-profile {
    width: 65%;
    padding-bottom: 30px; 
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(var(--b6a,219,219,219),1);
}

.container-profile img {
    width: 200px;
    height: 150px;
    margin-right: 15px;
}

.container-info {
    display: flex;
    flex-direction: column;
}

.container-info span {
    color: #707070;
    font-weight: 300;
}

.container-info h1{
    color: #707070;
    font-weight: 300;
    font-size: 26px;
}

.container-names {
    display: flex;
}

.container-names span {
    margin-right: 30px;
    color: #707070;
    font-weight: 300;
}

.container-crear-motel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.crear-motel {
    color: #707070;
}

.container-crear {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: -moz-linear-gradient(left,rgba(51,68,131,1) 0%,rgba(110,35,104,1) 100%);
    background: -webkit-gradient(left top,right top,color-stop(0%,rgba(51,68,131,1)),color-stop(100%,rgba(110,35,104,1)));
    background: -webkit-linear-gradient(left,rgba(51,68,131,1) 0%,rgba(110,35,104,1) 100%);
    background: -o-linear-gradient(left,rgba(51,68,131,1) 0%,rgba(110,35,104,1) 100%);
    background: -ms-linear-gradient(left,rgba(51,68,131,1) 0%,rgba(110,35,104,1) 100%);
    background: linear-gradient(to right,rgba(51,68,131,1) 0%,rgba(110,35,104,1) 100%);
    -webkit-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#334483',endColorstr='#6e2368',GradientType=1 );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#334483',endColorstr='#6e2368',GradientType=1 );
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 55px;
    cursor: pointer;    
    margin-bottom: 10px;
    margin-right: 35px;
    text-decoration: none;
    position: relative;
    left: 17px;
}

.container-moteles {
    width: 65%;
    margin: 30px auto;

}
.container-moteles .ul-moteles {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
}

.container-moteles .ul-moteles li {
    width: 32.33%;
    height: 250px;
    list-style: none;
    margin-right: 1%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.container-moteles .ul-moteles .container-name {
    display: flex;
    align-items: center;
    box-shadow: border-box;
    width: 100%;
    height: 30px;
    color: white;
    background: -moz-linear-gradient(left,rgba(51,68,131,1) 0%,rgba(110,35,104,1) 100%);
    background: -webkit-gradient(left top,right top,color-stop(0%,rgba(51,68,131,1)),color-stop(100%,rgba(110,35,104,1)));
    background: -webkit-linear-gradient(left,rgba(51,68,131,1) 0%,rgba(110,35,104,1) 100%);
    background: -o-linear-gradient(left,rgba(51,68,131,1) 0%,rgba(110,35,104,1) 100%);
    background: -ms-linear-gradient(left,rgba(51,68,131,1) 0%,rgba(110,35,104,1) 100%);
    background: linear-gradient(to right,rgba(51,68,131,1) 0%,rgba(110,35,104,1) 100%);
    -webkit-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#334483',endColorstr='#6e2368',GradientType=1 );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#334483',endColorstr='#6e2368',GradientType=1 );
}

.container-moteles .ul-moteles li img {
    width: 100%;
    height: 80%;
}

.container-moteles .ul-moteles li img:hover {
    opacity: 0.7;
}

.container-moteles .ul-moteles .container-name span {
    margin-left: 10px;
    font-weight: 500;
}

.logo-opciones {
    position: absolute;
    right: 13px;
    color: white;
    font-weight: 700;
    font-size: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo-opciones:hover {
    color: black;
}

.container-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background: white;
    width: 30%;
    height: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #707070;
}

.modal_imagenes_habitacion {
    background: white;
    width: 30%;
    height: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #707070;
}

.modal div{
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.modal .container-imagen-habitacion-delete{
    justify-content: none;
}

.modal div:last-child{
    border-bottom: none;
}

.modal div form{
    width: 100%;
}

.modal div form button {
    width: 100%;
    border: none;
    background: white;
    cursor: pointer;
    color: #707070;
    font-size: 18px;
    margin-bottom: 1px;
    padding: 15px 0 0 0;
}

.cerrar-modal {
    width: 100%;
    border-bottom: 0.3px solid #a5a5a5;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 15px 0 0 0;

}

.modal div a {
    text-decoration: none;
    color: #707070;
}

.container-ciudades{
    width: 181px;
    position: absolute;
}

.ul-ciudades {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: white;
}

.ul-ciudades li {
    width: 100%;
    list-style: none;
    border-bottom: 0.2px solid #ADADB7
}

.ul-ciudades li:hover {
    background-color: #e7e6e6;
}

.ul-ciudades li a{
    text-decoration: none;
    color: #707070;
    display: block;
    padding: 10px;
}

.ciudad-motel {
    position: absolute;
    top: 50px;
}
/*Css Pagination*/ 

.pagination {
    list-style: none;
    display: flex;
    border: 1px solid #707070;
    width: 35%;
    margin: 0;
    padding: 0;
}

.pagination li {
    width: 80px;
    text-align: center;
}

.pagination li a {
    text-decoration: none;
    display: block;
    padding: 10px;
}

.pagination li span {
    display: block;
    padding: 10px;
}

.active{
    background: #0E5E95;
}
/*PAGINA EDITAR*/

.container-form {
    width: 50%;
    margin: 30px auto;
    font-weight: 600;
}

.container-form .form-editar {
    width: 80%;
    display: flex;
    flex-direction: column;
    border: 0.5px solid rgba(var(--b6a,219,219,219),1);
    background: #f5f3f3;
    border-radius: 10px;
    padding-bottom: 20px;
    margin: 0 auto;
}

.container-form .form-editar .container-input{
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    color: #202020;
}

input{
    padding: 8px;
    border-radius: 5px;
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    color: #707070;
    margin-top: 5px;
}

.container-imagenes-del-motel {
    margin: 20px auto;
    width: 50%;
}

p {
    font-size: 10px;
    color: red;
}

.container-imagen {
    min-width: 100%;
    height: 140px;
    display: flex;
}

.container-imagenes .img{
    width: 100%;
    height: 100%;
}

.delete {
    min-width: 25px;
    height: 25px;
    position: relative;
    cursor: pointer;
}

.delete-habitacion {
    min-width: 10px;
    height: 10px;
    cursor: pointer;
    position: relative;

}

.delete-habitacion img{
    width: 100%;
    height: 100%;
    position: absolute;
    right: 170%;
    top: 10px;
}

.delete img{
    width: 100%;
    height: 100%;
    position: absolute;
    right: 110%;
    top: 10px;
}

/*Delete servicio admin*/

.delete-servicio-admin {
    max-width: 10px;
    height: 10px;
    position: relative;
    cursor: pointer;
}

.delete-servicio-admin img{
    width: 100%;
    height: 100%;
    position: absolute;
    right: 110%;
    bottom: 25px;
    left: 40px;
}

.container-subir-imagenes {
    width: 50%;
    margin: 15px auto;
}

.container-subir-imagenes span {
    margin: 0 auto;
    width: 50%;
    color: #202020;
}

.container-file {
    display: flex;
    align-items: center;
}

/*Imagenes del motel */
input[type="file"]{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

input[type="submit"]{
    margin: 8px auto;
    border: none;
    padding: 6px;
    background: #334583;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

label[for="file"] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-size: 14px;
    font-weight: 600;
    color: black;
    background-color: #c4cff7;
    padding: 5px;
    cursor: pointer;
    margin-right: 8px;
}

label[for="file_imagenes_historias"] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-size: 14px;
    font-weight: 600;
    color: black;
    background-color: #c4cff7;
    padding: 5px;
    cursor: pointer;
    margin-right: 8px;
}

/*Imagen de perfil del motel */

input[type="file-perfil"]{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

label[for="file-perfil"] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-size: 14px;
    font-weight: 600;
    color: black;
    background-color: #c4cff7;
    padding: 5px;
    cursor: pointer;
    margin-right: 8px;
}

label[for="file-habitacion"] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-size: 14px;
    font-weight: 600;
    color: black;
    background-color: #c4cff7;
    padding: 5px;
    cursor: pointer;
    margin-right: 8px;
}

label[for="button-imagenes-habitacion"] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-size: 14px;
    font-weight: 600;
    color: black;
    background-color: #c4cff7;
    padding: 5px;
    cursor: pointer;
    margin-right: 8px;
}

label[for="file-servicio-admin"] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-size: 14px;
    font-weight: 600;
    color: black;
    background-color: #c4cff7;
    padding: 5px;
    cursor: pointer;
    margin-right: 8px;
}

.form-editar button {
    width: 50%;
    margin: 0 auto;
    border: none;
    padding: 10px;
    background: #334583;
    color: white;
    font-size: 15px;
    margin-top: 20px;
}

.container-tipos-habitaciones {
    width: 50%;
    margin: 0 auto;
}

.container-imagenes {
    display: flex;
    margin-top: 10px;
    min-width: 100%;
    overflow: scroll;   
}

.container-imagenes::-webkit-scrollbar {
    display: none;
}

.container-imagenes img {
    width: 100%;
    height: 100%;
}

.agregar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-size: 14px;
    font-weight: 600;
    color: black;
    background-color: #c4cff7;
    padding: 5px;
    cursor: pointer;
    margin-right: 8px;
}

.container-name-tipo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-delete-agregar {
    display: flex;
    align-items: center;
}

.container-delete-agregar img {
    height: 20px;
    cursor: pointer;
}
/*Estiilos crear Motel */

h1 {
    text-align: center;
    font-size: 30px;
    color: black;
}

/*Estilos agregar habitacion en el modal*/
.container-agregar-habitacion {
    width: 50%;
    margin-bottom: 30px;
}

/* Estilos habitaciones */

.dividir {
    padding: 20px 0 20px 0;
    border-bottom: 1px solid black;
}

.container-habitaciones {
    width: 100%;
    display: flex;
    overflow: scroll;
}

.container-habitaciones::-webkit-scrollbar{
    display: none;
}

.container-habitacion-logo {
    min-width: 40%;
    display: flex;
}

.container-habitacion {
    height: 50px;
    min-width: 70%;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 5px;
    background: white;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.container-habitacion a {
    color: #6e2368;
}

/*Estilos imagenes habitacion*/

.container-imagenes-habitacion {
    display: flex;
    width: 100%;
    overflow: scroll;
    margin: 0;
    padding: 0;
}

.container-imagenes-habitacion::-webkit-scrollbar {
    display: none;
}

.container-imagen-habitacion-delete {
    min-width: 100%;
    max-height: 200px;
    display: flex;
}

.container-imagenes-habitacion li{
    min-width: 100%;
    height: 200px;
    list-style: none;
}

.container-imagenes-habitacion li img{
    min-width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.cerrar-modal-imagenes-habitacion {
    width: 20px;
    position: absolute;
    cursor: pointer;
    color: red;
    font-size: 20px;
}

/*Estilos historias del motel */

.container-historias {
    width: 50%;
    margin: 20px auto;
}

.container-scroll-historias {
    min-width: 100%;
    overflow: scroll;
    display: flex;
    margin-top: 10px;
}

.container-scroll-historias::-webkit-scrollbar {
    display: none;
}

.container-scroll-historias img {
    min-width: 100%;
    height: 100%;
}

/*Estlos de servicios del motel*/

.container-all-servicios {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.container-servicios {
    width: 50%;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Estilos crear servicios Admin*/

.modal-crear-servicios-motel {
    background: white;
    width: 30%;
    height: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    color: #707070;
}

.container-todos-los-servicios-creados {
    width: 75%;
    margin: 0 auto; 
}

.container-servicio-admin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90px;
    background-color: white;
    height: 70px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    float: left;
    margin: 10px 5px 0 5px;
    box-shadow: 3px 3px 7px rgba(0,0,0,0.15);
    border: 1px solid rgba(0,0,0,0.125);
}

.container-servicio-admin img{
    width: 20px;
    height: 20px;
}

.container-servicio-admin span {
    margin-top: 15px;
    font-size: 10px;
}

.container-todos-servicios-motel-agregar {
    width: 100%;
    margin: 5px auto;
    color: black;
    position: relative;
}

.container-servicio-motel-agregar {
    width: 45%;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 3px 3px 7px rgba(0,0,0,0.15);
    border: 1px solid rgba(0,0,0,0.125);
    margin-bottom: 10px;
    float: left;
    margin-right: 5px;
    margin-left: 8px;
}

.container-servicio-logo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-servicio-motel-agregar img {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.container-servicio-admin-motel button{
    border: none;
    background: rgb(46, 141, 59);
    border-radius: 5px;
    color: white;
    margin-right: 10px;
    padding: 5px;
    cursor: pointer;
}

.container-servicio-admin-agregar span{
    color: #929292;
    margin-left: 10px;
    font-size: 10px;
    font-family: italic;
}

