/*Iniciar sesion */
.containerForm{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.containerInput {   
    width: 100%;
    margin-bottom: 10px;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #EDECEC;
    box-sizing: border-box;
}

input:focus{
    outline-color: #6e2368;
    color: #707070;
}

.button {
    width: 100%;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #6e2368;
}